


<div id="<%= dom_id quote %>">
  <p>
    
    <strong><%= quote.quote_content %></strong>
  </p>

  <p>
    
    <%= quote.quote_author %>
  </p>

  <p>
    
    <%= quote.quote_image %>
  </p>

</div>


