<body class="B-body">
<br>
<h1 class= "Edit-quote-title">Editing quote</h1>
  <div class= "edit-links">
    <%= link_to "Show this quote", @quote %> 
    <br>
    <%= link_to "Back to quotes", quotes_path %>
  </div>

<div class="main-ring2">
  <img class="rotate4" src="<%= asset_path('ring5.png') %>" >
    <div class= "create-form2">
      <%= render "form2", quote: @quote, class: "formA" %>
    </div>
</div>
<br>
</body>