<body>

<main>

<h1 class="char-name">Gandalf</h1>

<%= link_to "Back", quotes_list_path %>

<div class="char-main"> 





<div class="char-list-id">



<% @gandalfQuotes.each do |quote,index| %>

  <div id="<%= dom_id quote %>">
  <p>
 
    <%= quote.quote_content %>
  </p>


  <br>
  <br>
  <br>
  
 
</div>

 <% end %>
 </div>
 <div class= "char-portrait"> 
 <img id="image" class="gandalfp-pic" src="<%= asset_path("gandalf2.png") %>" >


</div>



 </main>

</body>

