<div class="center">
  <h1>Create a Auote</h1>
  <form>
    <div class="inputbox">
      <input type="text" required="required">
      <span>Quote</span>
    </div>
    <div class="inputbox">
      <input type="text" required="required">
      <span>AUthor</span>
    </div>
    <div class="inputbox">
      <input type="button" value="submit">
    </div>
  </form>
</div>