<body class= "B-main">

<main>
<div class="char-main">

<div class="char-list-id">

<% @legolasQuotes.each do |quote,index| %>

  <div id="<%= dom_id quote %>">
  <p>
 
    <%= quote.quote_content %>
  </p>

  <p>
    <br>
    <br>
    <br>
  
</div>


 <% end %>
 
 <%= link_to "Back", quotes_list_path %>

 </div>
  
 <div class= "char-portrait">
 <%= image_tag "gandalf2.png" %>


</div>



 </main>

</body>

