
<main>

<table class="table table-bordered">
<thead>
  <tr class "column-name">
    <th>Quote</th>
    <th>Author</th>
    <th>Edit</th>
  </tr>
</thead>
<tbody>

<% @quotes.each do |quote,index| %>

<tr>
  <td>
  <%= quote.quote_content %>
  </td>
  <td>
  <%= quote.quote_author %>
  </td>
  <td class= "edit-button">
  <%= link_to "Edit", quote %>
  </td>
<% end %>  






