//// custom settings for the About Page content ////
.about {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: center;
}
.about-button {
  display: flex;
  justify-content: center;
  z-index: 99999;
  pointer-events: auto;
  font-family: Aniron;
}
.about-button:hover {
  font-family: "Aniron";
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
  pointer-events: auto;
}
// Add animation (fade in the button text change)
@-webkit-keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
