.edit-page {
  display: flex;
  justify-content: center;
}
.create-form2 {
  display: flex;
  justify-content: center;
  box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
  border: 1px solid black;
  padding: 50px;
  transform: translateY(-47%);
  top: 50%;
  position: absolute;
  z-index: 3;
}

.create-form2 input[type="submit"] {
  border-radius: 5px;
  background-color: white;
}

.create-form2 input[type="submit"]:hover {
  background-color: goldenrod;
  color: whitesmoke;
  cursor: pointer;
  box-shadow: 0 0 5px rgba(255, 217, 0, 0.966),
    0 0 10px rgba(255, 238, 0, 0.966), 0 0 15px rgba(255, 230, 0, 0.973),
    0 2px 0 rgba(230, 207, 8, 0.979);
  border: 2px solid goldenrod;
}

.edit-links {
  display: flex;
  flex-direction: column;
  font-family: "Aniron";
  padding-left: 20px;
  position: absolute;
}

.create-form2 input[type="submit"] {
  border-radius: 5px;
  background-color: white;
  font-family: "MorrisRom";
  font-size: larger;
}
/*
div.edit-form input[type="submit"] {
  border-radius: 5px;
  background-color: white;  
  }
.edit-form input[type="submit"]:hover {
    background-color: goldenrod;
    color:whitesmoke;
    cursor: pointer;
    box-shadow: 0 0 5px rgba(255, 217, 0, 0.966), 0 0 10px rgba(255, 238, 0, 0.966), 0 0 15px rgba(255, 230, 0, 0.973), 0 2px 0 rgba(230, 207, 8, 0.979);
    border: 2px solid goldenrod;
  }

*/
