/*--sign-in form css-- */

.centered-signin {
  pointer-events: auto;
  z-index: 3;
}

#particles-js {
  height: 100%;
}

.loginBox {
  position: absolute;
  margin-top: 21%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 350px;
  min-height: 200px;
  background: transparent;
  border-radius: 10px;
  padding: 40px;
  box-sizing: border-box;
}

.user {
  margin: 0 auto;
  display: block;
  width: 180px;
}

.loginBox input {
  width: 100%;
  margin-bottom: 20px;
}

.loginBox input[type="text"],
.loginBox input[type="password"] {
  border: none;
  border-bottom: 2px solid #262626;
  outline: none;
  height: 40px;
  color: rgb(14, 13, 13);
  background: transparent;
  font-size: 16px;
  padding-left: 20px;
  box-sizing: border-box;
}

.loginBox input[type="text"]:hover,
.loginBox input[type="password"]:hover {
  color: #001111;
  border: 1px solid #010f0f;
  box-shadow: 0 0 5px rgba(255, 217, 0, 0.966),
    0 0 10px rgba(255, 238, 0, 0.966), 0 0 15px rgba(255, 230, 0, 0.973),
    0 2px 0 rgba(230, 207, 8, 0.979);
}

.loginBox input[type="text"]:focus,
.loginBox input[type="password"]:focus {
  border-bottom: 2px solid #091111;
}

.inputBox {
  position: relative;
}

.inputBox span {
  position: absolute;
  top: 10px;
  color: #262626;
}

.loginBox input[type="submit"] {
  border: none;
  outline: none;
  height: 40px;
  font-size: 16px;
  background: #6d4702;
  color: #fff;
  border-radius: 20px;
  cursor: pointer;
}

.loginBox a {
  color: #262626;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
  display: block;
}

a:hover {
  color: #f5dd04;
}
