@import "bootstrap-sprockets";
@import "bootstrap";
@import "dropdown_buttons";
@import "about_page";
@import "ticker";
@import "clipboard_buttons";
@import "font-awesome";
@import "quote_list.scss";
@import "form_sign_in";
@import "ring";
@import "toast";
@import "modal";
@import "show";
@import "create";
@import "char_id";
@import "edit_quotes";
@import "edit_table";

//// custom LOTR fonts ////
@font-face {
  font-family: "Moria";
  src: url("Moria.ttf");
}
@font-face {
  font-family: "Dwarvish";
  src: url("Dwarvish.ttf");
}
@font-face {
  font-family: "Aniron";
  src: url("Aniron.ttf");
}
@font-face {
  font-family: "MiddleEath";
  src: url("MiddleEarth.ttf");
}
@font-face {
  font-family: "MorrisRom";
  src: url("MorrisRom");
}
//// custom fonts end ////

main.main-page {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
}

main.B-main {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
}

a {
  color: black;
}
a:hover {
  color: gold;
}

HEAD main {
  margin-top: 400px;
}

body.main-pages {
  background-image: url(background6.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 100px;
}

body.B-body {
  background-color: rgb(230, 221, 211);
  margin-bottom: 100px;
}

body.B-main {
  background-color: rgb(230, 221, 211);
}

h1 {
  font-family: "Aniron";
  display: flex;
  justify-content: center;
}

h2 {
  font-family: "Aniron";
  display: flex;
  justify-content: center;
}

.quote {
  color: gold;
  font-size: x-large;
}
#tolkien.quote {
  color: gold;
  font-size: x-large;
}

.generate-button-div {
  display: flex;
  justify-content: center;
  position: relative;
  justify-content: space-evenly;
  z-index: 2;
}

//// Container holding the About image and the text ////
.container {
  position: relative;
  text-align: center;
  color: white;
}
/* Bottom left text */
.bottom-left {
  position: absolute;
  bottom: 8px;
  left: 16px;
  color: whitesmoke;
  font-family: "Aniron";
}
/* Top left text */
.top-left {
  position: absolute;
  top: 8px;
  left: 16px;
  color: black;
  pointer-events: auto;
  font-family: Aniron;
}
/* Top right text */
.top-right {
  position: absolute;
  top: 8px;
  right: 16px;
  color: whitesmoke;
  font-family: Aniron;
}
/* Bottom right text */
.bottom-right {
  font-family: Aniron;
  position: absolute;
  bottom: 8px;
  right: 16px;
  color: whitesmoke;
}
/* Centered text */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: gold;
  pointer-events: auto;
  font-family: "Aniron";
}

.create-form {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: 3;
}

.main-ring2 {
  display: flex;
  justify-content: center;
}

/*--registration form css --*/
.centered-register {
  position: absolute;
  top: 34.7%;
  left: 41.7%;
  pointer-events: auto;
  background-color: transparent;
  font-family: "Aniron";
  padding: 30px;
  color: goldenrod;
}

.navbar {
  background-color: white;
  background-image: url("https://www.transparenttextures.com/patterns/billie-holiday.png");
  //background-image: url("fellowship-5638589_1920.png");
  background-repeat: repeat-x;
  background-position: center;
  background-size: contain;
  overflow: hidden;
  //background-color: #333;
  position: sticky; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%; /* Full width */
  z-index: 99999;
}

.navbar-main {
  padding-left: 10px;
  padding-right: 10px;
  pointer-events: auto;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  font-family: "Aniron";
  color: black;
  font-size: medium;
  font-weight: 200;

  .nav-left {
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
  }

  .nav-user {
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
  }

  .nav-admin {
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
  }

  .user-fav {
    align-items: flex-end;
    text-align: center;
    justify-content: space-between;
  }
}

.char-list {
  display: flex;
  justify-content: space-around;
}

.char-box {
  display: flex;
  flex-direction: column;
}

.char-pic {
  width: 160px;
  z-index: 1;
}

.char-pic:hover {
  filter: opacity(0.7);
  //filter:hue-rotate(30deg);

  .nav-left {
    align-items: flex-end;
  }

  .nav-user {
    align-items: flex-end;
    text-align: right;
  }

  .nav-admin {
    align-items: flex-end;
    text-align: center;
  }
}
