


@font-face {
  font-family: "Hobbiton";
  src: url("hobbiton.ttf");
}

@font-face {
  font-family: "Aniron";
  src: url("Aniron.ttf");
}

@font-face {
  font-family: "MiddleEarth";
  src: url("MiddleEarth.ttf");
}

.char-list {
  display:flex;
  justify-content:space-around;
}

.char-box {
  display: flex;
  flex-direction: column;
}

.char-pic {
  width:160px;
  z-index: 1;
}


.char-pic:hover {
  filter:opacity(0.7);
  //filter:hue-rotate(30deg);
  
}
.char-name {
position:relative;
text-align: center;
font-weight: 700;
}

.list-title {
  font-family: "MiddleEarth";
  text-align: center;
  font-weight: 1200;
  font-size: xx-large;
}

.list-quotes {
  font-family: "MiddleEarth";
  text-align: center;
  font-style: italic;
  font-size: large;
  font-weight: 900;
  font-size:x-large;
  
}

.char-list-id { 
  font-style: italic;
  filter: opacity(0.5);
  font-size: x-large;
  font-weight: 900;

}

.char-main {
  display: flex;
  justify-content: space-around;
  font-family:"MorrisRom";
}

.char-list-id {
  display: flex;
  justify-content: center;
  text-align: center;
  flex-direction: column;
}

.main-char {
  margin-top: 200px;
}

.gandalfp-pic {
  width:800px;
}

h1.char-name{
  font-family: "MiddleEarth";
  font-weight: 900;
}

.back-tick {
  color:rgb(156, 6, 6)
}


.legolas-pic {
  width: 600px;
}

.gimli-pic {
  width:500px;
}

.gandalf-pic {
  width:500px;
}

.aragorn-pic{
  width:500px;
}

.sauron-pic {
  width: 500px;
}